<ion-header>
  <ion-toolbar>
    <ion-title>Factura</ion-title>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <img src="assets/icon/blackLogo.png" alt="" width="40px" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center">
  <ion-grid
    size="12"
    size-sm="8"
    offset-sm="2"
    style="display: flex; flex-flow: column; height: 100%"
  >
    <form [formGroup]="todo" (ngSubmit)="logForm()">
      <div class="datos-cliente" style="margin-top: 1rem">
        <h4 style="margin-bottom: 0">Cliente</h4>
        <ion-item>
          <ion-label
            style="font-weight: bolder"
            position="floating"
            class="label"
            >DNI</ion-label
          >
          <ion-input formControlName="dni"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label
            style="font-weight: bolder"
            position="floating"
            class="label"
            >Nombre</ion-label
          >
          <ion-input type="text" formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label
            style="font-weight: bolder"
            position="floating"
            class="label"
            >Apellidos</ion-label
          >
          <ion-input type="text" formControlName="apellidos"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label
            style="font-weight: bolder"
            position="floating"
            class="label"
            >Correo electronico</ion-label
          >
          <ion-input formControlName="email"></ion-input>
        </ion-item>
      </div>
      <div class="datos-factura" style="margin-top: 2rem">
        <h4 style="margin-bottom: 0">Factura</h4>
        <ion-item>
          <ion-label
            style="font-weight: bolder"
            position="floating"
            class="label"
            >Numero de la factura</ion-label
          >
          <ion-input
            disabled="true"
            type="text"
            formControlName="numero"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label
            style="font-weight: bolder"
            position="floating"
            class="label"
            >Descripcion</ion-label
          >
          <ion-input formControlName="descripcion"></ion-input>
        </ion-item>
      </div>
      <button
        ion-button
        type="submit"
        [disabled]="!todo.valid"
        (click)="imprimirFactura()"
      >
        Imprimir Factura
      </button>
    </form>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar style="padding: 0 30px">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <img src="assets/icon/home-icon.png" alt="" width="20px" />
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/mesas']">
        <img src="assets/icon/table.png" alt="" width="20px" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
