form {
  button {
    background-color: #32b768;
    padding: 0.5rem 1.5rem;
    margin-top: 2rem;
    float: right;
    margin-right: 1rem;
    border-radius: 2px;
  }
}
.title-page {
  font-weight: bolder;
}
