<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <img src="assets/icon/blackLogo.png" alt="" width="40px" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="homescreen-content">
    <div style="height: 250px; background-color: #ccd2dd; position: fixed">
      <ion-item
        *ngFor="let category of categoriesMenu;let i = index"
        class="fix-flex-column category-item"
        lines="none"
        (click)="activeCatogory(i)"
        style="cursor: pointer"
      >
        <ion-avatar slot="start">
          <img
            alt="Silhouette of a person's head"
            src="{{category.imagen}}"
            style="width: 60px; height: 60px"
          />
        </ion-avatar>
        <ion-label
          [ngStyle]="{'color': (category.active===true) ? '#57ae51' : '#000'}"
          class="category-title"
          >{{category.nombre}}</ion-label
        >
      </ion-item>
    </div>
    <div *ngIf="menuActivated;else other_content" style="margin-left: 5.5rem">
      <div style="width: 100%">
        <div
          class="cards-with-title"
          style="width: 100%; height: 63vh; overflow-y: scroll"
        >
          <h4 style="width: 100%; text-align: center">Menus</h4>
          <ion-card
            class="menu-item"
            style="margin-bottom: 1rem; margin-left: 0.5rem !important"
            *ngFor="let menuItem of menuItems;let i = index"
            menuImagenes
            ngClass="menu-card"
          >
            <ion-item>
              <ion-avatar slot="start">
                <img
                  [src]=" menuImagenes[i] == '' ? 'assets/images/no_image_available.png' : menuImagenes[i]"
                />
              </ion-avatar>
              <ion-label>
                <h5>{{menuItem.nombre}}</h5>
                <p>{{menuItem.precio | currency : "EUR" : "symbol" }}</p>
              </ion-label>
            </ion-item>
            <ion-footer>
              <ion-row>
                <ion-col center text-center>
                  <button>
                    <ion-icon
                      name="remove-circle"
                      (click)="decrementPedido(menuItem)"
                    ></ion-icon>
                  </button>
                </ion-col>
                <ion-col center text-center>
                  <span class="number_item">{{menuItem.numeroDeComanda}}</span>
                </ion-col>
                <ion-col center text-center>
                  <button>
                    <ion-icon
                      name="add-circle"
                      (click)="incrementPedido(menuItem)"
                    ></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-footer>
          </ion-card>
        </div>
        <div
          class="buttons"
          [ngClass]="{'withPagarButton': dataComing.Estado !=  1}"
        >
          <ion-button
            color="primary"
            expand="block"
            style="display: inline-block"
            class="button-one"
            (click)="confirmarComanda()"
            >Confirmar</ion-button
          >
          <ion-button
            color="primary"
            expand="block"
            [disabled]=""
            class="button-two"
            (click)="finalizarComanda()"
            [ngStyle]="{'display': dataComing.Estado === 1 ? 'none' : 'inline-block'}"
            >Pagar</ion-button
          >
          <ion-button
            color="danger"
            expand="block"
            [disabled]=""
            [routerLink]="['/home']"
            class="button-three"
            (click)="cancelarComanda()"
            style="display: inline-block"
            >Cancelar</ion-button
          >
        </div>
      </div>
    </div>
    <ng-template #other_content>
      <div style="width: 100%; margin-left: 5.5rem">
        <div
          class="cards-with-title"
          style="width: 100%; height: 63vh; overflow-y: scroll"
        >
          <h4 style="width: 100%; text-align: center">Platos</h4>
          <ion-card
            class="menu-item"
            style="margin-bottom: 1rem; margin-left: 0.5rem !important"
            *ngFor="let platoItem of platoItems;let i = index"
            class="plato-card"
          >
            <ion-item>
              <ion-avatar slot="start">
                <img
                  [src]=" platoImagenes[i] == '' ? 'assets/images/no_image_available.png' : platoImagenes[i]"
                />
              </ion-avatar>
              <ion-label>
                <h6>{{platoItem.nombre}}</h6>
                <p>{{platoItem.precio | currency : "EUR" : "symbol" }}</p>
              </ion-label>
            </ion-item>
            <ion-footer>
              <ion-row>
                <ion-col center text-center>
                  <button>
                    <ion-icon
                      name="remove-circle"
                      (click)="decrementPedido(platoItem)"
                    ></ion-icon>
                  </button>
                </ion-col>
                <ion-col center text-center>
                  <span class="number_item">{{platoItem.numeroDeComanda}}</span>
                </ion-col>
                <ion-col center text-center>
                  <button>
                    <ion-icon
                      name="add-circle"
                      (click)="incrementPedido(platoItem)"
                    ></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-footer>
          </ion-card>
        </div>
        <div
          class="buttons"
          [ngClass]="{'withPagarButton': dataComing.Estado !=  1}"
        >
          <ion-button
            color="primary"
            expand="block"
            [disabled]=""
            style="display: inline-block"
            (click)="confirmarComanda()"
            class="button-one"
            >Confirmar</ion-button
          >
          <ion-button
            color="primary"
            expand="block"
            [disabled]=""
            (click)="finalizarComanda()"
            [ngStyle]="{'display': dataComing.Estado === 1 ? 'none' : 'inline-block'}"
            class="button-two"
            >Pagar</ion-button
          >
          <ion-button
            color="danger"
            expand="block"
            [disabled]=""
            [routerLink]="['/home']"
            class="button-three"
            (click)="cancelarComanda()"
            style="display: inline-block"
            >Cancelar</ion-button
          >
        </div>
      </div>
    </ng-template>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar style="padding: 0 30px">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <img src="assets/icon/home-icon.png" alt="" width="20px" />
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!-- <img src="assets/icon/notification-ringing.png" alt="" width="25px" /> -->
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
