<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <img src="assets/icon/blackLogo.png" alt="" width="40px" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center">
  <ion-grid
    size="12"
    size-sm="8"
    offset-sm="2"
    style="display: flex; flex-flow: column; height: 100%"
  >
    <div class="comandas" *ngFor="let comanda of listaComanda; let i = index">
      <h4
        (click)="hideMenuItems($event)"
        style="margin-top: 1rem; cursor: pointer"
      >
        Comanda {{i+1}}
        <ion-icon
          name="arrow-up-outline"
          [ngStyle]="{'display': showComanda ? 'none' : 'inline-block'}"
        ></ion-icon>
        <ion-icon
          name="arrow-down-outline"
          [ngStyle]="{'display': !showComanda ? 'none' : 'inline-block'}"
        ></ion-icon>
      </h4>
      <ion-card *ngFor="let menuItem of comanda.items;let i = index;">
        <ion-item style="height: 3, 5rem">
          <ion-avatar slot="start" style="margin-top: 0">
            <!-- <img src="{{menuItem.Foto}}" /> -->
            <img
              [src]=" menuItem.Foto == '' ? 'assets/images/no_image_available.png' : menuItem.Foto"
            />
          </ion-avatar>
          <ion-label>
            <h4 style="margin: 0">{{menuItem.Nombre}}</h4>
            <p style="display: inline-block">
              {{menuItem.Precio | currency : "EUR" : "symbol" }}
              <span>x{{menuItem.Cantidad}}</span>
            </p>
          </ion-label>
        </ion-item>
      </ion-card>
    </div>
    <div class="fixed-container">
      <ion-row class="ion-align-self-center imprimir">
        <ion-col>
          <button
            class="active imprimirCuenta"
            ion-button
            text-center
            full
            (click)="openCuenta()"
          >
            Imprimir cuenta
          </button>
        </ion-col>
        <ion-col>
          <button
            ion-button
            text-center
            full
            [disabled]="!cobroHecho"
            [ngClass]="{'active-factura': cobroHecho === true}"
            (click)="openFactura()"
          >
            Imprimir factura
          </button>
        </ion-col>
      </ion-row>
      <div class="pay-methods">
        <ion-chip>
          <ion-icon name="card" style="color: black"></ion-icon>
          <ion-label>Pago con tarjeta</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-icon name="cash" style="color: black"></ion-icon>
          <ion-label>Pago en efectivo</ion-label>
        </ion-chip>
      </div>
      <ion-row class="ion-align-self-center">
        <ion-col>
          <ion-button
            [routerLink]="['/cuenta']"
            disabled="true"
            [disabled]="!cuentaDescargada"
            expand="block"
            text-center
            class="cobrar-button"
            (click)="cobrar()"
          >
            <div class="cobrar-button_textos">
              <span class="cobrar-button_text">Cobrar</span>
              <span class="cobrar-button_total"
                >{{precioTotal | currency : "EUR" : "symbol" }}</span
              >
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <!-- <button class="goBottom">Go to the bottom</button> -->
</ion-content>

<ion-footer>
  <ion-toolbar style="padding: 0 30px">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <img src="assets/icon/home-icon.png" alt="" width="20px" />
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end"> </ion-buttons>
  </ion-toolbar>
</ion-footer>
