ion-col {
  button {
    background-color: transparent;
    ion-icon {
      color: #57ae51;
    }
  }
}
.ion-content {
  position: relative;
}
.fixed-content {
  position: absolute;
  width: 100vw;
  bottom: 0;
  background-color: #f8f8f8;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  ion-text {
    color: #57ae51;
    font-weight: bold;
  }
}
.ion-align-self-center {
  background-color: #57ae51;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 79%;
  border-radius: 20px;
  ion-col {
    height: 100%;
  }
  button {
    height: 100%;
    cursor: not-allowed;
    &.active {
      background: #ffffff;
      color: #57ae51;
      border-radius: 20px 0 0 20px;
      font-weight: bolder;
      cursor: pointer;
    }
    &.active-factura {
      background: #ffffff;
      color: #57ae51;
      border-radius: 0 20px 20px 0;
      font-weight: bolder;
      cursor: pointer;
    }
  }
  &.imprimir {
    width: 12rem;
    margin: 0 auto;
  }
}
.fixed-content {
  display: flex;
  justify-content: space-around;
  background-color: #57ae51;
  color: white;
  border-radius: 0 0 5rem 5rem;
  margin: 0 1rem;
}
.pay-methods {
  margin: 1rem 1rem;
  ion-chip {
    width: 100%;
    border-radius: 10px;
    ion-label {
      color: black;
    }
  }
}
.ion-align-self-center:last-child {
  width: 90%;
  border-radius: 0px 0px 50px 50px;
  margin: 0 auto;
  ion-button::part(native) {
    span {
      --background-color: red;
    }
  }
  .cobrar-button {
    --border-radius: 0px 0px 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.disabled {
      pointer-events: none;
      opacity: 0.5;
      background: #ccc;
    }
  }
  
}

.cobrar-button_textos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .goBottom{

} */