<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <img src="assets/icon/blackLogo.png" alt="" width="40px" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center" [scrollEvents]="true">
  <ion-card color="light">
    <div class="img-wrapper">
      <img
        [src]="
            profileImgUrl == ''
            ? 'assets/images/profile-placeholder.png'
            : profileImgUrl
          "
      />
      <link
        href="https://cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/css/ratchet.css"
        rel="stylesheet"
      />
      <label for="imageUpload" class="camera-icon">
        <ion-icon name="camera-outline"></ion-icon>
      </label>
      <input
        type="file"
        accept="image/*"
        id="imageUpload"
        style="display: none"
        (change)="onSelectFile($event)"
      />
    </div>
  </ion-card>
  <div class="flex-center">
    <form [formGroup]="formEmpleado" (ngSubmit)="updateEmpleado()">
      <ion-item>
        <ion-label position="floating" class="label">Nombre</ion-label>
        <ion-input
          type="text"
          formControlName="nombre"
          value="formEmpleado.get('nombre')"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="label">Apellidos</ion-label>
        <ion-input
          formControlName="apellidos"
          value="formEmpleado.get('apellidos')"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="label">DNI</ion-label>
        <ion-input
          formControlName="dni"
          value="formEmpleado.get('dni')"
          disabled="true"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="label"
          >Correo electronico</ion-label
        >
        <ion-input
          class="ion-no-margin"
          style="margin-bottom: 0"
          formControlName="email"
          value="formEmpleado.get('email')"
        ></ion-input>
      </ion-item>
      <div class="button-container">
        <button
          style="color: white"
          ion-button
          type="submit"
          [disabled]="!formEmpleado.valid"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar style="padding: 0 30px">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <img src="assets/icon/home-icon.png" alt="" width="20px" />
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <img src="assets/icon/notification-ringing.png" alt="" width="25px" />
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
