<ion-content style="text-align: center">
  <div id="header">
    <img src="assets/icon/TPVNubelogo.svg" alt="" />
  </div>
  <form id="#form">
    <app-input type="email" placeholder="Correo electronico"></app-input>
    <app-input type="password" placeholder="Contraseña"></app-input>
    <ion-button shape="round">Acceder</ion-button>
    <ion-text
      color="medium"
      style="display: block; cursor: pointer"
      [routerLink]="['/forgetpassword']"
      ><i>¿Ha olvidado la contraseña ? </i></ion-text
    >
  </form>
</ion-content>
