<ion-app>
  <!-- <ion-split-pane [enabled]="authentication.user"> -->
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-card>
          <ion-item>
            <ion-avatar slot="start">
              <img src="{{ user.imagen }}" />
            </ion-avatar>
            <ion-label>
              <h3>{{ user.nombre }}</h3>
              <p>{{ user.rol }}</p>
            </ion-label>
          </ion-item>
          <ion-footer> </ion-footer>
        </ion-card>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="clickable()" [routerLink]="['/profile']">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-item>
        <!-- <ion-item (click)="clickable()">
          <ion-icon name="notifications-outline" slot="start"></ion-icon>
          <ion-label>Notificacion</ion-label>
        </ion-item> -->
        <ion-item (click)="clickable()">
          <ion-icon name="restaurant-outline" slot="start"></ion-icon>
          <ion-label>Mis mesas</ion-label>
        </ion-item>
        <ion-item (click)="clickable()" [routerLink]="['/cobros']">
          <ion-icon name="clipboard-outline" slot="start"></ion-icon>
          <ion-label>Cobros</ion-label>
        </ion-item>
        <ion-item (click)="(openEnd)" [routerLink]="['/login']">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Cerrar sesion</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
  <app-loading></app-loading>
</ion-app>
