ion-toolbar {
}
ion-content {
  ion-card {
    display: inline-block !important;
    width: 40% !important;
    cursor: pointer;
    &.isDisponible {
      background-color: #32b768;
      cursor: cursor;
    }
    &.pedidoFinalizado {
      background-color: #DC9B1C;
      cursor: cursor;
    }
    &.ocupada {
      background-color: #E33535;
      cursor: cursor;
    }
    ion-card-subtitle {
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
    }
    ion-card-title {
      font-size: 12px;
      font-weight: Regular;
      text-align: center;
      color: #ffffff;
    }
    ion-col {
      display: flex;
    }
    ion-card {
      padding: 5px;
    }
  }
}
